.bannerContainer {
  width: 100%;
  height: auto;
  max-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
