/*Reset do Navegador*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /*Evita barra de rolagem horizontal acidental*/
}

/*Reset do React/Vite*/
#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/*Garantir que o padding não estoure a largura*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
