/*Estado inicial*/
.header {
  background-color: var(--color-tertiary-background);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.8rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Logo e Marca*/
.brandContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  box-shadow: 0 4px 10px var(--color-shadow);
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.brandName {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-primary);
  font-family: var(--font-main);
}

/*Navegacao*/
.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.2s;
  font-family: var(--font-main);
}

.navLink:hover {
  color: var(--color-primary);
}

/*Link Ativo*/
.active {
  color: var(--color-primary);
  font-weight: 800;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
    gap: 1rem;
  }

  .brandName {
    font-size: 1.2rem;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .container {
    padding: 0.5rem 1rem;
  }
}
