.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: var(--font-size-6xl);
  color: var(--color-primary);
  margin-bottom: 1rem;
  font-family: var(--font-main);
}

.subtitle {
  font-size: var(--font-size-2xl-plus);
  color: var(--color-text);
  margin-bottom: 2rem;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  transition: transform 0.2s, background-color 0.2s;
  font-family: var(--font-main);
  box-shadow: 0 4px 10px var(--color-shadow);
}

.button:hover {
  background-color: var(--color-primary-dark);
  transform: scale(1.05);
}
